<div>

    <input type="text" placeholder="Noun" ng-model="mad.noun1"><br>
    <input type="text" placeholder="Adjective" ng-model="mad.adj1"><br>
    <input type="text" placeholder="Verb" ng-model="mad.verb"><br>
    <input type="text" placeholder="Adjective" ng-model="mad.adj2"><br>
    <input type="text" placeholder="Noun" ng-model="mad.noun2"><br>
    <input type="text" placeholder="Noun" ng-model="mad.noun3"><br>
    <input type="text" placeholder="Adjective" ng-model="mad.adj3"><br>

    <a href="#!/output"><button type="button" ng-click="addInput(mad)">Create Mad Lib!</button></a>


</div>
